<% layout('layouts/boilerPlate') -%>
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading"><%= err.message%></h4>
    <p><%= err.status %></p>
    <p><%= err.stack %></p>
    <hr>
  </div>
